.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  background: #1E1E1E;
  border-radius: 12px;
  padding: 2rem;
  width: 100%;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.modalBody {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.modalBody > div {
  flex: 1;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  color: #666;
}

.stars {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}

.label {
  font-size: 0.9rem;
  color: #555;
  align-self:flex-start;
}
.artistName {
  font-size: 0.9rem;
  color: #555;
  align-self:flex-start;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

.textarea {
  width: 100%;
  background-color: #2a2a2a;
  border: 1px solid #3a3a3a;
  border-radius: 8px;
  padding: 0.75rem;
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  color: #fff;
  resize: vertical;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 20px;
  min-height: 5rem;
}

.textarea::placeholder {
  color: #666;
}

.textarea:focus {
  border-color: #555;
}
.error {
  color: #e74e3d;
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0;
  text-align: right;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}

.cancelBtn {
  padding: 0.5rem 1.25rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: none;
  cursor: pointer;
}

.submitBtn {
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 8px;
  background: #1db954;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.submitBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.songImg {
  align-self: flex-start;
  width: 150px;
  height: 150px;
  border-radius: 25px;
}

.ratingRow {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: flex-end
}
.modalName {
  margin: 0;
}