

.profileButton {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 3%;
    top: 3%;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    border: none;
}


.img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block
}