html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.main {
  display: flex;
  min-height: 100vh;
  position: relative;
  background-color: black;

}

.disappear {
  opacity: 0;
  transition: opacity ease 750ms;
  transition-delay: 0.5s;
  pointer-events: none;
}

.visible {
  opacity: 1;
  transition: opacity ease 3000ms;
}



.banner {
  position: absolute;
  left: 0;
  min-width: 35%;
  object-fit: cover;
  z-index:1;
  transition: min-width 1s ease;
}

.banner.expand {
  min-width: 140vw;
}

.dashboard {
  position:absolute;
  display: flex;
  flex-direction: column;
  top: 20px;
  left: 0px;
  height: auto;
  width: 25%;
  z-index: 2;
  align-items: flex-start;
}

.title {
  padding-left: 45px;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: clamp(4vw, 6vw, 8vw);
  font-weight: 600;
}

.description {
  padding-left: 50px;
  top: 160px;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: clamp(1vw, 1vw, 3vw);
  font-weight: 300;
  padding-bottom: 10vh
}

.login {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  height: auto;
  gap: 20px;
}

.loginButton {
  background-color: white;
  width: 20vw;
  height: 8vh;
  display: flex;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  font-size: clamp(1vw, 1vw, 3vw);
  font-weight: 700;
  border-radius: 100px;
  transition: transform 0.2s ease;
}

.emailButton {
  height: 8vh;
  width: 17.5vw;
  background-color: white;
  font-family: 'Nunito', sans-serif;
  font-size: clamp(1vw, 1vw, 3vw);
  font-weight: 700;
  border-radius: 100px;
  outline: none;
  border: none;
  padding-left: 30px;
}

.loginButton:hover {
  transform: scale(1.05);
}

.enterButton {
  height: 4vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFBABB;
  border-radius: 100px;
  transition: background-color 0.2s ease;
  border: none;
}

.enterButton:hover {
  background-color: #ff8d8f;

}

.logo {
  padding-right: 30px;
  height: 100%;
  border-radius: 100px;
}

.google {
  padding-right: 30px;
  height: 80%;
  border-radius: 100px;
  padding-left: 8px;
}

.logintext {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  font-size: clamp(1vw, 1vw, 3vw);
  font-weight: 700;
}

.emailContainer {
  max-width: 20vw;
  height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.carousel {
  position: absolute;
  z-index: 0;
  top: 15%;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  gap: 2em;
  animation: spin 15s infinite linear;
  padding-right: 2em;
}

.card {
  flex: 0 0 7em;
  height: 10em;
  width: 8em;
  padding: 1em;
  background: #1E1E1E;
  font-size: 3rem;
  border-radius: 0.5em;
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

@keyframes spin {
  from {translate: 0;}
  to {translate: -100%;}
}

.card_img {
  object-fit: cover;
  object-position: center top;
  height: 200px;
  width: 340px;
  border-radius: 4px;
  padding-bottom: 50px;
}
.card_text {
  color: #FD2629;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 0.7em;
}

.loginPage {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 60%;
  opacity: 1;
  border-radius: 20px;
  z-index: 3;
  transition: opacity 1.6s ease;
  transition-delay: 0.8s;
}

.loginPage.hide {
  pointer-events: none;
  transition-delay: 0s;
  opacity: 0;
}

.loginDashboard {
  z-index:5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loginTitle {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: clamp(4vw, 6vw, 8vw);
  font-weight: 600;
  opacity: 1;
  padding-bottom: 50px;
}

.loginSubtitle {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: clamp(2vw, 2vw, 5vw);
  font-weight: 500;
  padding-bottom: 50px;
}

.loginText {
  display: flex;
  align-items: flex-start;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: clamp(1vw, 1vw, 1vw);
  font-weight: 500;
  width: 30vw;
}

.loginBubble {
  height: 6vh;
  width: 30vw;
  margin-bottom: 25px;
  margin-top: 5px;
  border-radius: 50px;
  background-color: white;
  outline: none;
  border: none;
  font-family: 'Nunito', sans-serif;
  font-size: clamp(1vw, 1vw, 1vw);
  padding-left: 15px;
  font-weight: 600;
}

.loginEnter {
  height: 6vh;
  width: 10vw;
  border-radius: 50px;
  background-color: white;
  outline: none;
  border: none;
  font-family: 'Nunito', sans-serif;
  font-size: clamp(1vw, 1vw, 1vw);
  padding-left: 15px;
  font-weight: 700;
  transition: transform ease 300ms;
}

.loginEnter:hover {
  transform: scale(1.05);
}

.loginExtras {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: clamp(1vw, 1vw, 1vw);
  padding-bottom: 10px;
  position: relative;
  cursor: pointer;
  border: none;
  background: none;
}

.loginExtras::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.loginExtras:hover::after {
  width: 100%;
}

.backButton {
  height: 6vh;
  width: 10vw;
  border-radius: 50px;
  border: none;
  outline: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 25px;
  color: rgb(0, 0, 0);
  font-family: 'Nunito', sans-serif;
  font-size: clamp(1vw, 1vw, 1vw);
  font-weight: 700;
  gap: 10px;
  transition: transform ease 300ms;
}

.backButton:hover {
  transform: scale(1.05);
}

.backImg {
  rotate: 180deg;
}

.loginButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  flex-direction: row;
  gap: 20%;
  padding-bottom: 25px;
}

.errorMessage {
  color: rgb(255, 255, 255);
  font-family: 'Nunito', sans-serif;
  font-size: clamp(1vw, 1vw, 1vw);
  font-weight: 700;
  animation: popBounce 0.5s ease;
}

.loginErrorMessage {
  color: rgb(255, 255, 255);
  font-family: 'Nunito', sans-serif;
  font-size: clamp(1vw, 1vw, 1vw);
  font-weight: 700;
  animation: popBounce 0.5s ease;
  padding-bottom: 20px;

}

.createPage {
  transition-delay: 0.85s;
}

@keyframes popBounce {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}