.container {
  display: flex;
  height: 100vh;
  background-color: #121212;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}
.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0;
  overflow-y: auto;
  max-width: 100%;
  overflow-x: hidden;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(44, 35, 73);
  padding: 32px 10vw;
  background-image: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profileRow {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.profileRow > div {
  flex-grow: 1;
}
.headerImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  gap: 2px;
}

.songTitle {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0;
}

.subText {
  font-size: 0.9rem;
  color: #aaaaaa;
  margin: 0;
}

.headerBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.75rem;
  gap: 4rem;
  flex-wrap: wrap; 
}
.headerStat > div {
  font-size: 16px;
}
.headerStat > div:first-child {
  font-size: 18px;
  font-weight: 600;
}
.profileButtons {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: end;
}

.buttons {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: end;
}

.actions {
  display: flex;
  gap: 1rem 4rem;
  flex-wrap: wrap;
}

.sectionHeader {
  display: flex;
  align-items: center;
  margin-top: 12px;
  justify-content: space-between;
}
.sectionTitle {
  font-size: 22px;
  font-weight: 700;
  margin: 4px 0;
}

hr {
  width: 100%;
  background-color: #fff;
}
.body {
  display: flex;
  flex-direction: column;
  padding: 0 10vw;
  margin-top: 2vh;
}
.reviews {
  display: flex;
  flex-direction: column;
  gap: 10px;
}